#navbar{
    margin-top: 0.5rem;
}

.nav-link {
    
     padding:0;
}

ul li span {
    
    font-size: 1rem;
    
}
.vertical-line{
    display: none;
}


#resumeCard span{
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

 /* .fa-2x {
    font-size: 1.7em;
}  */

.horizontal-line{
    border: 1px solid #dddddd ;
    display: flex;
    align-items: center;
    width: 100%;
    
}
.horizontal-line-block{
    display: block;
}